@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

body {
  max-width: 1200px;
  background-image: url("./pngtree-8-best-free-mountain-background-images-4k-wallpapers-picture-image_2783525.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: gold;
  &:hover {
    font-family: "Nova Square", sans-serif;
  }
}
p {
  color: white;
}
label {
  color: blue;
}
a {
  color: aquamarine;
  text-decoration: none;
  transition: 0.5s;
  font-size: 20px;

  &:hover {
    color: brown;
    font-size: 22px;
  }
}
legend {
  color: chartreuse;
}
span {
  color: rgb(190, 255, 105);
}
.span1 {
  color: darkgreen;
}
.span2 {
  color: chocolate;
}
ul > li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
}
textarea {
  background-color: rgba(0, 0, 0, 0.578);
  color: bisque;
}
input {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 255, 13);
}
